{% extends 'layout/base.html' %}
{% block content %} <!-- показ стиха -->
<h3 class="text"><kbd>Вы находитесь на странице выбранного стиха, вы можете прочитать данный стих, прокомментировать,
    и Вам запрещается любое копирование стихов на сайте!!!</kbd></h3>
    <div class="show_entry">
        <img src="{{ entry.users.avatar(130) }}">
        <p>Пользователь: <strong>{{ entry.users.nickname }}</strong></p>
        <p><strong>Тема: {{entry.title}}</strong></p>
        <pre><big>{{ entry.text }}</big></pre>
        <p>{{ entry.pub_date }}</p>
        <br>
    </div>

<form class="form-comment" method=post action="{{ url_for('entry_comments',id=entry.id) }}" align=center>
    <!-- форма для добавления коммента к стиху -->
    {{ form.hidden_tag() }}
    <p><kbd>{{ form.body.label }}:</kbd></p>
    <pre>{{ form.body(cols="52", rows="4", wrap="hard") }}</pre>
    <div class="text-danger" align="center">
        {% for error in form.errors.body %}
        <span>{{ error }}</span>
        {% endfor %}
        <br>
    </div>
    <br>
    <button type=submit class="btn btn-primary">Добавить комментарий</button>
</form>
<br>
<h3 align="center" style="color: MediumAquamarine;">Комментарии других пользователей:</h3>
<br>
{% include 'entry/__show_comment_pagination.html' %} <!-- комментарии стиха -->
{% endblock %}