{% extends 'layout/base.html' %}
{% block content %}
<!-- домашняя страница -->
<div class="index">
    <h1>Поэтический блог:</h1>
    <br>
    <p><big>Этот блог позволяет сохранять ваши великолепные творения в одном месте, редактировать их
    и размещать на нашем ресурсе.Также здесь Вы можете общаться с другими участниками нашего творческого проекта.</big>
    </p>
    <br>
    <h1>Последние творческие работы других поэтов:</h1>
</div>
<br> <!-- записи всех пользователей и область списка конкурсов-->
<div class="entry">
    {% include 'entry/__show_entries_index.html' %}
</div>

{% endblock %}