{% extends 'layout/base.html' %}
{% block content %}
<!-- страница помощи проекту -->
<div class="donate">
    <h2>Вы можете отблагодарить проект за наши старания.</h2>
    <br>
    <big><h4>Выберите пожалуйста один из ниже перечисленных сервисов для помощи проекту:</h4></big>
    <br>
    <p class="text-info">Сервис яндекс деньги, номер счёта - 902385723489273894. <a href="https://money.yandex.ru/new"
    class="btn btn-success-outline" target="_blank" role="button">Кликните сюда</a></p>
    <p class="text-info">Сервис qiwi-кошелёк, номер счёта - 38947523948932. <a href="https://qiwi.com/main.action"
    class="btn btn-success-outline" target="_blank" role="button">Кликните сюда</a></p>
</div>
{% endblock %}