{% extends 'layout/base.html' %}
{% block content %}
<!-- стр как стать автором -->
<div class="how_author">
    <body>
    <h2>Как стать автором:</h2>
    <br>
    <p>Здравствуйте. Прежде чем стать автором и публиковаться на нашем сайте, ознакомьтесь со следующей информацией.</p>
    <p>На сайте можно размещать как стихи (поэмы, баллады, пьесы, оды…) так и другие заметки касательно поэзии, поэтов,</p>
    <p>их книг и их жизни. Это может быть рецензия на какое-либо произведение или новость из личной жизни автора, все,</p>
    <p>что связано с поэзией и что может быть интересно другим читателям.</p>
    <p>Требования к материалам, размещаемым на сайте:</p>
    <p>При размещении произведений и заметок на сайте пользователь должен в обязательном порядке соблюдать авторские
    права.</p>
    <p>1) Чужие произведения без согласия их авторов или законных правообладателей к публикации не принимаются;</p>
    <p>2) Нецензурная лексика допустима в разумных пределах, если она не применена в отношении конкретных лиц.</p>
    <p>Запрещается использование нецензурной лексики в заголовках произведений, а также в текстах произведений,</p>
    <p>которые размещены в детских рубриках;</p>
    <p>3) Запрещается расизм и оскорбительные высказывания в адрес какого-либо вероисповедания и конкретных лиц;</p>
    <p>4) Не допускаются к публикации произведения, содержание которых запрещено законодательством Российской Федерации;</p>
    <p>5) Запрещается размещать на сайте одинаковые произведения, заметки или сообщения с целью привлечь к себе
    дополнительное</p>
    <p>внимание. Также запрещена публикация бессодержательных сообщений, засоряющих сайт и затрудняющих его
    использование</p>
    <p>другими читателями;</p>
    <p>6) Запрещается накрутка рейтингов произведений и просмотров с целью создания видимости их прочтения;</p>
    <p>7) Не допускаются к публикации любые заметки и сообщения рекламного характера;</p>
    <!-- ссылки на стр правила сайта, стр регитсрации, и на домашнюю стр -->
    <h2>По нижеприведенной ссылке вы должны ознакомиться- <a href="{{ url_for('how_author_info') }}"
    class="btn btn-success-outline" role="button">правилами сайтом и авторскими правами</a></h2>
    <h2>Регистрируясь Вы подтверждаете что ознакомились с правилами сайта и согласны с ними.
    Подтвердить - <a href="{{ url_for('register') }}" class="btn btn-info-outline" role="button">Да</a>,
    <a href="{{ url_for('index') }}" class="btn btn-danger-outline" role="button">Нет</a></h2>
    </body>
</div>
{% endblock %}