{% extends 'layout/base.html' %}
{% block content %}
<!-- стр правила сайта -->
<h3>Правила пользования сайтом Poetry_blog.ru, Соглашение на обработку персональных данных и Авторские права</h3>
<h4>Данный договор об использовании портала Poetry_blog.ru (в дальнейшем «Договор») определяет систему взаимоотношений
    между порталом, который в дальнейшем именуется как Портал, и Пользователем (физическим лицом),
    который принял публичную оферту о заключении договора.</h4>

<h3>1. Определения</h3>

<p>1.1.Портал Poetry_blog.ru – это комплекс программных и аппаратных средств, благодаря которым обеспечивается
    размещение в
    Интернете электронных документов. Имя домена: poetry_blog.ru</p>
<p>1.2.Литературный текст – это текст, который предоставлен Пользователем в машиночитаемой форме и воспринимается к
    размещению порталом.</p>
<p>1.3.Изображение – изображение, которое представлено Пользователем в машиночитаемой форме и воспринимается
    порталом.</p>
<p>1.4.Произведение – объединяющее название, под которым может подразумеваться литературный текст, изображение
    (фотография или рисунок).</p>
<p>1.5.Размещение произведения на Портале – передача Пользователем произведения на сервер Портала для его публикации, т.
    е. доведения
    до всеобщего сведения (в машиночитаемой форме).</p>
<p>1.6.Регистрация на Портале – заполнение Пользователем анкеты на Портале и получение доступа для размещения
    произведений и другой информации на сервере.</p>
<p>1.7. Персональная страница Пользователя — страница, которая создается в случае верного последовательного выполнения
    всех регистрационных действий
    на Портале, имеющая сетевой адрес вида http://poetry_blog.ru/user/[логин]</p>
<p>1.7. Данные пользователя — совокупность всех данных (текст и изображения), которые пользователь самостоятельно
    отправил на Портал посредством заполнения
    форм в личной анкете и публикации своих Произведений.</p>

<h3>2. Предмет договора</h3>

<p>1.7.Портал предоставляет в распоряжение Пользователя безвозмездно место на сервере для публикации произведений, то
    есть доведения произведений до всеобщего
    сведения таким образом, что любое лицо может получить к ним беспрепятственный доступ в любое время и из любого места
    по собственному выбору.</p>
<p>1.8.Пользователь самостоятельно публикует, то есть доводит до общего сведения, произведения на портале. Для ранее
    нигде не размещавшихся произведений публикация
    на сервере является их обнародованием.</p>
<p>1.9.Пользователь публикует произведения на портале в рамках имеющихся у него разрешений от правообладателей или
    собственных авторских прав. В связи с данным
    договором Пользователь не передаёт, а Портал не получает никаких авторских прав на размещённые произведения.</p>
<p>1.10.Пользователь разрешает Порталу обработку и хранение своих персональных данных, которые он добровольно и
    самостоятельно передал на сервер в связи
    с использованием услуг портала.</p>

<h3>3. Порядок заключения договора и изменение его условий</h3>

<p>1.11.Заключением договора со стороны пользователя является регистрация на сервере и осуществление действий по
    публикации произведений на портале.</p>
<p>1.12.Портал имеет полное право изменять условия Договора, заблаговременно публикуя уведомления о подобных изменениях
    на своём сервере.</p>

<h3>4. Права Пользователя</h3>

<p>4.1.Публикация, то есть доведение до всеобщего сведения произведения на сервере ни в коей мере не ограничивает права
    для публикации данного произведения
    в печатных и любых прочих изданиях, на других интернет-серверах, а также продажу или передачу авторских прав на
    него.</p>
<p>4.2.Пользователь имеет право в любой момент прервать публикацию (доведение до всеобщего сведения) произведения,
    удалив его с портала, а также полностью
    удалить все свои Данные пользователя с Портала. Договор таким образом автоматически расторгается. Для удаления
    своего Произведения или полного удаления
    всех данных с портала необходимо отправить запрос на удаление на адрес электронной почты aleksey.serzh@mail.ru.</p>

<h3>5. Права Портала</h3>

<p>5.1.Портал имеет право отказать Пользователю в предоставлении места для публикации, то есть доведения до всеобщего
    сведения, какого-либо произведения или
    всех произведений сразу в любой момент и удалить их с сервера.</p>

<h3>6. Авторские права</h3>

<p>6.1.При публикации (доведении до всеобщего сведения) произведений на портале, Пользователь обязан соблюдать
    законодательство в области авторских прав.
    В частности, части 4 Гражданского Кодекса РФ. То есть быть законным правообладателем этих произведений или иметь
    разрешение от законных правообладателей
    на их публикаций на сервере.</p>
<p>6.2.По всем возможным нарушениям авторских прав перед третьими лицами, Пользователь несёт самостоятельную
    ответственность. В перечень функций портала
    входит лишь техническая взаимосвязь между Пользователем и его местом на сервере, а также предоставление места для
    размещения произведений Пользователя.
    Саму публикацию, то есть непосредственное доведение произведений до всеобщего сведения осуществляет сам
    Пользователь, который несёт полную ответственность
    за свои действия.</p>
<p>6.3.При публикации (доведении до всеобщего сведения) произведений на сервере, Пользователь не передаёт ни третьим
    лицам, ни Порталу каких-либо авторских
    прав на данные произведения. Все авторские права остаются у правообладателей произведения. Публикуя произведения на
    портале, правообладатели пользуются
    своим авторским правом.</p>

<h3>7. Обязанности Пользователя</h3>

<p>7.1.Пользователь гарантирует, что авторство любого публикуемого им произведения принадлежит человеку, имя которого
    указано в поле «Имя» и «Фамилия».
    Таким образом Пользователь гарантирует соблюдение положения, установленного Гражданским Кодексом России, часть 4 о
    соблюдении личного неимущественного
    права на имя. Если автором произведения является другое лицо, в обязанности Пользователя входит регистрация данного
    лица на Портале с правильным указанием
    его имени, и размещение соответствующего произведения от имени данного лица.</p>
<p>7.2.Пользователь гарантирует наличие у него имущественных авторских прав на все произведения, им опубликованные
    (доведённые до всеобщего сведения),
    достаточных для размещения этих произведений на портале, или наличии разрешения на данное действие от законного
    правообладателя.</p>
<p>7.3.Пользователь помещает произведения на сервере, не предполагая получение какого-либо гонорара и безвоздмездно.</p>
<p>7.4.В случае передачи авторских имущественных прав на произведение, которые исключают возможность его публикации – то
    есть доведения до всеобщего
    сведения на сервере, Пользователь обязуется удалить произведение с сервера, а также проинформировать сторону,
    которой он передаёт имущественные авторские
    права о том, что ранее эти произведения были опубликованы на Портале.</p>
<p>7.5.Пользователь обязуется соблюдать условия Правил пользования порталом Poetry_blog.ru</p>

<h3>8. Обязанности Портала</h3>

<p>8.1.Портал обязуется способствовать выполнению авторских прав Пользователя на произведения, размещённые в пределах
    своего сервера.</p>
<p>8.2.Портал обязуется хранить тайну литературного псевдонима автора произведения, если автор использует псевдоним. За
    исключением ситуаций нарушения
    Пользователем, который представляет этого автора, Правил использования сервера Poetry_blog.ru.</p>
<p>8.3.Портал предоставляет Пользователю место на своём сервере для размещения произведений без какой-либо оплаты, то
    есть безвоздмездно.</p>

<h3>9. Ответственность Пользователя</h3>

<p>9.1.Пользователь несёт полную ответственность за содержание произведений, которые публикует (доводит до всеобщего
    сведения) на сервере, в соответствии с
    Законодательством. А также гражданскую ответственность перед третьими лицами.</p>
<p>9.2.Пользователь несёт ответственность перед Порталом за точное соблюдение правил пользование сервером
    Poetry_blog.ru. Если администрацией портала установлен
    факт нарушения Правил, Портал имеет право прервать публикацию – доведение до всеобщего сведения произведений
    Пользователя на своём сервере и расторгнуть
    настоящий договор.</p>

<h3>10. Ответственность портала</h3>

<p>10.1.Портал не несёт ответственности за произведения, размещённые пользователями на Портале.</p>
<p>10.2.Портал не несёт ответственности за нежелательные последствия и возможные убытки, а также упущенную выгоду,
    которые может понести Пользователь в
    результате использования услуг портала.</p>
<p>10.3.Портал не гарантирует правильную и бесперебойную работу сервера и не компенсирует убытки в случае возникновения
    ситуаций технических сбоев.
    Программное обеспечение сервера работает в режиме текущего состояния («как есть»).</p>

<h3>11. Непреодолимые обстоятельства</h3>

<p>11.1.Стороны не несут ответственность за неисполнение или ненадлежащее исполнение обязательств, указанных в Договоре,
    если причиной неисполнения или
    ненадлежащего выполнения являются непреодолимые обстоятельства: пожары, стихийные бедствия, техногенные катастрофы и
    аварии, массовые беспорядки,
    аварии на коммуникациях и инженерных сооружениях, террористические акты, военные действия, бунты, забастовки,
    гражданские волнения, нормативные акты
    органов государственной власти и местного самоуправления, которые препятствуют выполнению Сторонами договорных
    обязательств, наступивших после заключения Договора.</p>
<p>11.2.При наступлении непреодолимых обстоятельств, срок выполнения обязательств по настоящему Договору отодвигается
    соразмерно времени, в течении которого
    данные обстоятельства продолжают действовать, без возмещения каких-либо убытков.</p>

<h3>12. Урегулирование споров</h3>

<p>12.1.В случае возникновения разногласий и споров, Пользователю нужно обратиться к администрации посредством письма на
    электронный адрес aleksey.serzh@mail.ru.
    Заявление Пользователя будет рассмотрено в двухнедельный срок и будут приложены все усилия для разрешения возникшего
    спора или разногласия.</p>
<p>12.2.Если споры не будут разрешены путём переговоров, их разрешение предстоит в порядке, предусмотренном
    законодательством.</p>

<h3>13. Срок действия договора</h3>

<p>13.1.Договор вступает в силу с момента присоединения к нему Пользователя и действует на протяжении всего времени
    работы Портала.</p>

<h3>14. Прочие условия</h3>

<p>14.1.Средством идентификации Пользователя для сервера является логин и пароль, которые выбираются при регистрации.
    Пароль в дальнейшем может
    быть изменён через редактирование профиля. Портал признаёт правомочным Пользователем физическое лицо, которое
    зарегистрировало авторскую страницу
    или получившее законным путём логин и пароль авторской страницы от прежнего пользователя.</p>
<p>14.2.Пользователи, которые получили логин и пароль неправомерными способами (через похищение у других пользователей,
    способом подбора и другими
    аналогичными методами) не признаются правомочными Пользователями. В подобных случаях для правомочных Пользователей
    (по их заявлению в службу
    технической поддержки) может быть создан новый пароль доступа к серверу.</p>
<p>14.3.В случае утери пароля правомочным Пользователем, по его обращению в автоматизированную службу восстановления
    паролей, доступ к серверу
    с целью размещения произведений может быть восстановлен. Необходимое для этого условие – возможность получать на
    электронный ящик, указанный
    при регистрации, письма. Адрес электронного ящика также может измениться в процессе пользования сервером. В случае,
    если Пользователь не имеет
    возможности получать электронные письма на этот электронный ящик, восстановление доступа к серверу для размещения и
    управления произведениями не гарантируется. Нажмите сюда для возвращения - <a href="{{ url_for('how_author') }}"
                                                                                  class="btn btn-success-outline"
                                                                                  role="button">Назад</a>
</p> <!-- ссылка назад на страницу "как стать автором" -->
{% endblock %}