{% extends 'layout/base.html' %}
{% block content %}
<!-- стр информация о нас -->
<div class="our_about">
    <h5>Здесь вы можете ознакомиться со всей информацией о наc. Поэзия, поэты, красивые стихи и мысли их авторов:</h5>
    <br>
    <p>Неправда, что вечного двигателя нет.Между поэтом и буквами происходит такая химия, что тепло нескольких</p>
    <p>словесных цепочек сохраняется тысячелетиями. Они умеют так тронуть душевную струнку, что она будет очень долго
    звенеть</p>
    <p>внутри. Они могут припечатать или вознести на века. Из клубка человеческих чувств и отношений сплетается
    нескончаемое</p>
    <p>полотно, имя которому – поэзия. Вы можете уже сейчас присоединиться к нашему кругу любителей поэзии.</p>
    <p>Арифметика детских считалок и высшая математика сонета. Симфония гласных и соловьиное щелканье согласных.</p>
    <p>Материал для памятников и сдирающая фальшивую позолоту щетка. Поэзия – это и море, утонуть в котором дано не
    каждому.</p>
    <p>Многие не подозревают о его существовании, кто-то барахтается на мелководье и никогда не постигнет бездонности</p>
    <p>метафор и многозначности ассоциаций.</p>
    <p>К нам приходят как раз такие счастливые «жертвы». Красивых стихов об одинокой звезде на утреннем небе, изумрудной
    траве,</p>
    <p>росяных бриллиантах и глазах, полных любви. Стихов о жизни своей и чужой, стихов грустных, детских и веселых. Здесь
    собираются</p>
    <p>и те, кто полнит эти воды, кто с трепетом несет свою первую чашу. Смелее, друзья! Рифмы могут быть небезупречны,</p>
    <p>но искренними они бывают всегда. Поверьте, мы любим вас именно за это.</p>
    <p>Хотелось бы держать в голове все любимые строки — ведь как иногда не хватает поэтической точности и краткости! Стихи
    облегчают</p>
    <p>общение, стихи способны растопить ледяную корочку обиды или непонимания, вызвать встречный душевный порыв.</p>
    <p>Красивые стихи катятся слезой по щеке, комом встают в горле. Как неожиданно зазвучат поздравительные стихи - свои
    или</p>
    <p>просто понравившееся четверостишие!</p>
    <p>Рождаются ли поэтами? Кто-то сказал: «Крылья есть за спиной у многих. Но не все догадываются об этом». Это очень
    похоже на истину.</p>
    <p>Но для того, чтобы взлететь, крылья надо тренировать. Так это делают их обладатели из мира фауны. Так это делают и
    начинающие поэты.</p>
    <p>Редко кому удавалось с первого раза свечой взмыть к сияющему Олимпу. Но увидеть взлет поэта, набирающий силу с каждым
    кругом —</p>
    <p>мечта каждого истинного ценителя поэзии. Согласен ? Жми, поэт —> <a href="{{ url_for('register') }}"
    class="btn btn-success-outline" role="button">Зарегистрироваться</a></p>
    <!-- ссылка на стр регистрации -->
</div>
{% endblock %}