{% extends 'layout/base.html' %}

<!-- шаблон изменения пароля -->
{% block content %}
<form action="{{ url_for('user_password_change') }}" method="post">
    <div class=field>
        <h1>Изменение вашего пароля</h1>
        {{ form.hidden_tag() }}
        <br>
        <p>{{ form.password.label }}:</p>
        <br>

        <div class="field-field">
            <p>{{ form.password(size=20) }}</p>
        </div>
        <button type="submit" class="btn btn-primary">Изменить</button>
    </div>
</form>
{% endblock %}
