{% extends 'layout/base.html' %}
<!-- шаблон для неподтвержденных пользователей -->
{% block content %}
<div class="email">
    <h1>Добро пожаловать, {{ user.nickname }}!</h1>
    <br>
    <p>Вы до сих пор не подтвердили свой аккаунт. Проверьте свой почтовый ящик (и папку со спамом) -
    вы должны были получить электронное письмо с ссылкой для подтверждения.</p>
    <p>Вы ещё не получали письмо ? <a href="{{ url_for('resend_email_confirmation') }}" class="btn btn-info-outline"
    role="button">Отправить ещё раз</a></p>
</div>
{% endblock %}